.centrat{
    width: 70%;
    margin: auto;

}
.header {
    width: 100%;
    background: #e7e7e7;
    color: #fff;
    height: 50px;
}

html {
    margin: 0;
height: 100%;
}

body {
    background: rgba(79,79,79,1);
    background: -moz-linear-gradient(top, rgba(79,79,79,1) 0%, rgba(77,77,77,1) 47%, rgba(74,74,74,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(79,79,79,1)), color-stop(47%, rgba(77,77,77,1)), color-stop(100%, rgba(74,74,74,1)));
    background: -webkit-linear-gradient(top, rgba(79,79,79,1) 0%, rgba(77,77,77,1) 47%, rgba(74,74,74,1) 100%);
    background: -o-linear-gradient(top, rgba(79,79,79,1) 0%, rgba(77,77,77,1) 47%, rgba(74,74,74,1) 100%);
    background: -ms-linear-gradient(top, rgba(79,79,79,1) 0%, rgba(77,77,77,1) 47%, rgba(74,74,74,1) 100%);
    background: linear-gradient(to bottom, rgba(79,79,79,1) 0%, rgba(77,77,77,1) 47%, rgba(74,74,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#4a4a4a', GradientType=0 );
}

.fons {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    width: 450px;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

@media (min-width: 1200px){
    .container {
        width: 900px;

}

@media (min-width: 1400px){
    .container {
        width: 1170px;
}



/*CSS de slider*/
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('img/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div {
    background-position: -7px -7px; 
}
.jssorb05 div:hover, .jssorb05 .av:hover {
    background-position: -37px -7px;
}
.jssorb05 .av {
    background-position: -67px -7px;
}
.jssorb05 .dn, .jssorb05 .dn:hover {
    background-position: -97px -7px;
}

.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('img/a22.png') center center no-repeat;
    overflow: hidden;
}
.jssora22l {
    background-position: -10px -31px;
}
.jssora22r {
    background-position: -70px -31px;
}
.jssora22l:hover {
    background-position: -130px -31px;
}
.jssora22r:hover {
    background-position: -190px -31px;
}
.jssora22l.jssora22ldn {
    background-position: -250px -31px;
}
.jssora22r.jssora22rdn {
    background-position: -310px -31px;
}
.sidebar-nav li.active > a,
.sidebar-nav li > a:focus {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
<<<<<<< HEAD
}
=======
}

.img-rounded {
    margin-bottom: 6px;
}
>>>>>>> 4556f4f226b0c1c0b5bb0c2759c8d4f05c66c3a1
