.centrat{
    width: 70%;
    margin: auto;
}

.header {
    /* width: 100%; */
    /* background: #e7e7e7;
    color: #fff;*/
    height: 50px;
}

#ampladaslider{
    width: 64%;
}

#ampladanovetats{
    width: 30%;
}

#mesinformacio{
    color: #E65710;
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline;
    padding: 0px 0px;
}

/*html {
    margin: 0;
    height: 100%;
}*/

/*body {
    background: rgba(79,79,79,1);
    background: -moz-linear-gradient(top, rgba(79,79,79,1) 0%, rgba(77,77,77,1) 47%, rgba(74,74,74,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(79,79,79,1)), color-stop(47%, rgba(77,77,77,1)), color-stop(100%, rgba(74,74,74,1)));
    background: -webkit-linear-gradient(top, rgba(79,79,79,1) 0%, rgba(77,77,77,1) 47%, rgba(74,74,74,1) 100%);
    background: -o-linear-gradient(top, rgba(79,79,79,1) 0%, rgba(77,77,77,1) 47%, rgba(74,74,74,1) 100%);
    background: -ms-linear-gradient(top, rgba(79,79,79,1) 0%, rgba(77,77,77,1) 47%, rgba(74,74,74,1) 100%);
    background: linear-gradient(to bottom, rgba(79,79,79,1) 0%, rgba(77,77,77,1) 47%, rgba(74,74,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#4a4a4a', GradientType=0 );
}*/

.fons {
    background: rgba(250,250,250,1);
    background: -moz-linear-gradient(left, rgba(250,250,250,1) 0%, rgba(245,245,245,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(250,250,250,1)), color-stop(100%, rgba(245,245,245,1)));
    background: -webkit-linear-gradient(left, rgba(250,250,250,1) 0%, rgba(245,245,245,1) 100%);
    background: -o-linear-gradient(left, rgba(250,250,250,1) 0%, rgba(245,245,245,1) 100%);
    background: -ms-linear-gradient(left, rgba(250,250,250,1) 0%, rgba(245,245,245,1) 100%);
    background: linear-gradient(to right, rgba(250,250,250,1) 0%, rgba(245,245,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f5f5f5', GradientType=1 );
    width: 450px;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 5px 8px 34px -10px rgba(61,61,61,1);
    -moz-box-shadow: 5px 8px 34px -10px rgba(61,61,61,1);
    box-shadow: 5px 8px 34px -10px rgba(61,61,61,1);
}

#producte{
    width: 250px;
    height: 250px;
    object-fit: fill;
    float: left;
    margin-right: 5px;
    margin-top: 20px;
}

#productefinal{
    width: 250px;
    height: 250px;
    object-fit: fill;
    float: left;
    margin-top: 20px;
}

/*CSS Dropdown menu*/

#primary_nav_wrap
{
    margin-top:15px;
}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul a
{
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
    background:#ddd
}

#primary_nav_wrap ul li:hover
{
    background:#f6f6f6
}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}

#primary_nav_wrap ul ul li
{
    float:none;
    width:200px
}

#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul
{
    display:block
}


/*CSS de slider*/
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('../img/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div {
    background-position: -7px -7px; 
}
.jssorb05 div:hover, .jssorb05 .av:hover {
    background-position: -37px -7px;
}
.jssorb05 .av {
    background-position: -67px -7px;
}
.jssorb05 .dn, .jssorb05 .dn:hover {
    background-position: -97px -7px;
}

.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('../img/a22.png') center center no-repeat;
    overflow: hidden;
}
.jssora22l {
    background-position: -10px -31px;
}
.jssora22r {
    background-position: -70px -31px;
}
.jssora22l:hover {
    background-position: -130px -31px;
}
.jssora22r:hover {
    background-position: -190px -31px;
}
.jssora22l.jssora22ldn {
    background-position: -250px -31px;
}
.jssora22r.jssora22rdn {
    background-position: -310px -31px;
}
.sidebar-nav li.active > a,
.sidebar-nav li > a:focus {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

/*CSS jquery productes index*/

li,a,img,ul,div,span {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.llistaproductes { list-style: none; margin: 20px; }
.llistaproductes li {
    display: inline-block; position: relative; color: #eee; cursor: pointer; text-shadow: 1px 1px rgba(0,0,0,0.3); margin-bottom: 3%; }
.llistaproductes li b { color: #FB9337; }
.llistaproductes li .thumb { padding: 5px;}
.llistaproductes li .thumb img { width: 225px; }
.llistaproductes li .content { position: absolute; top: 115px; width: 250px; height: 163px; overflow: hidden; }
.llistaproductes li .contentinner { background: #000000; padding: 5px 7px; margin-top: 0px; height: 163px; }
.llistaproductes li .title { color: #fff; font-family:Arial,Helvetica,sans-serif; font-size: 13px; }
.llistaproductes li .title:hover { color: #FB9337; }
.llistaproductes li .price { color: #fff; font-weight: bold; float: right; }
.llistaproductes li .by { font-size: 12px; font-style: italic; margin-top:8px; }
.llistaproductes li .desc { font-size: 12px; margin: 5px 0; line-height: 16px; }

.img-rounded {
    margin-bottom: 6px;
}

.footer{
    height: 60px;
    background-color: #e7e7e7;
}

.navbar-center{
    position: absolute;
    text-align: center;
    margin: auto;
    width: 60%;
}

.navbar-nav>li{
   /* float:none!important;*/
}

#buscador{
    width: 500px;
    height: 32px;
}

#centrarbuscador{
    padding-top: 8px;
}

#navbarindex{
    height: 100px;
}

.padding-header-index{
    padding-top: 30px;
}

.align-center-header{
    padding-top: 25px;
}

@media (min-width: 1200px){
    .container {
        width: 900px;
    }
}

@media (min-width: 1400px){
    .container {
        width: 1170px;
    }
}

@media (max-width: 500px){
    #ampladaslider{
        width: 100%;
        float: none!important;
    }
    #ampladanovetats{
        width: 100%;
        margin-left: -30px;
        margin-top: 15px;
        display: none;
    }
    .col-md-12{
        margin-left: -30px;
    }
    #movilcontainer{
        margin-top: 15px;
    }
    #buscador{
        width: 100px;
        height: 30px;
    }
    #navbarindex{
        height: 50px;
    }
     .container {
        width: 100%;
    }
    .align-center-header{
        padding-top: 0px;
    }
    .float-left{
        float: left;
    }
    .float-right{
        float: right;
    }
    #amagar-movil{
        display: none;
    }
}